.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  text-align: center;
  flex-shrink: 0;
}

footer {
  text-align: center;
  height: 50px;
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.btnStyle{
	border: 1px solid #000000 !important;
}

.restart{
	width: 55% !important;
}

#timer{
  font-size: 1.3rem;
    font-weight: 300;
    background-color: #FFC107;
    color: #000000;
    border-radius: 10px;
    padding: 0 10px;
}

.link{
  text-decoration: none !important;
}